#main-nav {
    padding-top: 120px;
    left: 0;
    top: 0;
    overflow: hidden;
      overflow-x: hidden;
  overflow-y: auto;
    cursor: default;
    background: #fcfcf1;
    position: fixed;
    z-index: 2;
    left: 0;
    width: 290px;
    height: 100%;
    text-align: center;
    display: none;
cursor: pointer;
}

.service-select-nav{
 text-decoration: none;
    line-height: 40px;
    text-align: left;
    margin-left: 10px; 
    list-style-type:none;	
}

.service-select-nav a{
       color:#000;   
}

.service-select-nav a:visited{
       color:#000;
}

.service-select-nav a:active{
       color:#fba81a;
}

.service-select-nav a:hover{
       color:#fba81a;
}



.service-select-nav span{
 color:red;   
}


#secondary-select-nav{
//    padding-top: 40px;
}
#search{
    padding-top:20px;
    text-align: center;
}
#social-media{
    
    text-align: center;
    
    
}
.social{
 width:30px;   
    margin: 10px;
}

#copyright{
    padding: 5px 0;
 font-size: 10px;   
}


/* sliding line*/

.service-select-nav a{
    text-decoration: none;
    display: inline-block;
    border-bottom: 3px solid black;    
    width: 20px;
    transition: 0.5s ease;
    white-space: nowrap;
    height: 35px;
}
.service-select-nav a:hover {
    border-bottom: 3px solid black;
    width: 230px;
}



i{  
    width: 16px;
    text-align: center;
    display: block;
    position: relative;
    left: 0px;
    top: 0px;

    
}

#main-nav > ul > li > a, #secondary-select-nav > li > a{
 position: relative;
    left: 10px;
}

@media only screen and (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl) {
#main-nav {
    display:none;
}
#main{
    
 left: 0;   
}
}
/* Large Devices, Wide Screens */

@media only screen and (min-width: $breakpoint-xl) {
#main-nav {
display: none;
}
#main{
    
 left:0;   
    
}
}
